.navbar .navbar-collapse {
    text-align: center;
}

.nav-item{
    border-top: 0.1rem solid grey;
    /* border-bottom: 0.1rem solid grey; */
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.nav-item:hover {
    border-top: 0.1rem solid white;
    /* border-bottom: 0.1rem solid white; */
}

.navbar-brand {
    margin-left: 10rem;
    margin-right: 10rem;
    font-size: 3rem;
}